@model IEnumerable<School_Management_System_Practicum.Models.Form>
@{
    ViewData["Title"] = "AddmissionList";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
}
    <div class="row">
        <div class="col-md-12">
          <center>  <h2>Student Forms</h2></center>
            @if (Model.Any())
            {
                <table class="table">
                    <tr>
                        <th>Form ID</th>
                        <th>Student Name</th>
                        <th>Mobile</th>

                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FormId</td>
                            <td>@item.StudentName</td>
                            <td>@item.Mobile</td>

                            <td>
                                @Html.ActionLink("PDF", "Admissionpdf", new { id = item.FormId })|
                                @Html.ActionLink("Delete", "AddmissionDelete", new { id = item.FormId })
                            </td>
                        </tr>


                    }
                </table>

            }
            else
            {
                <p>No Results to be shown</p>

            }
        </div>
    </div>
