@model IEnumerable<School_Management_System_Practicum.Models.Registration>

@{
    ViewData["Title"] = "Mstudents";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
}

<center><h1>Student List</h1></center>



<div class="row">
    <div class="col-md-12">

        @if (Model.Any())
        {
            <table class="table">

                <tr>
                    <th>Student Name</th>
                    <td>Class</td>
                    <th>Mobile Number</th>
                    <th>Blood Group</th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName @item.LastName</td>
                        <td>@item.Class</td>
                        <td>@item.MobileNumber</td>
                        <td>@item.BloodGroup</td>
                        <td>
                            @Html.ActionLink("Detail", "FacultyDetail", new { id = item.UserName }) |
                            @Html.ActionLink("Edit", "FacultyEdit", new { id = item.UserName }) |
                            @Html.ActionLink("Delete", "StudentDelete", new { id = item.UserName })
                        </td>

                    </tr>


                }
            </table>

        }
        else
        {
            <p>No Results to be shown</p>

        }
    </div>
</div>