@model IEnumerable<School_Management_System_Practicum.Models.Subject>
@{
    ViewData["Title"] = "Showsubject";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
}

<div class="row">
    <div class="col-md-12">
        <center> <h1>Classes</h1></center>
        @if (Model.Any())
        {

            <table class="table table-hover">

                <tr>

                    <th>Subject</th>

                    <th>Action</th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.SName</td>

                        <td>

                            @Html.ActionLink("Delete", "Deletesubject", new { id1 = item.SubjectId })
                        </td>
                        <td>

                            @ViewBag.Message
                        </td>
                    </tr>


                }
            </table>
            @ViewBag.Message
        }
        else
        {
            <p>No Class is Added to be shown</p>

        }

    </div>

</div>
  <div class="form-control">
            <div class="form-md-10">@ViewBag.Message</div>
        </div>
 

