@model School_Management_System_Practicum.Models.Sfees
@{
    ViewData["Title"] = "Monthly";
    Layout = "~/Views/Shared/Studentlayout.cshtml";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
}
<center><h2>Fees Status</h2></center>
<hr />
@try
{
    


   
      <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.PaymentId)
                </dt>

                <dd>

                    @Html.DisplayFor(model => model.PaymentId)
                </dd>

                <dt>

                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>

                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    Paid Amount
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.amount)

                </dd>
               
               
                <dt>
                    @Html.DisplayNameFor(model => model.date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.date)

                </dd>

            </dl>
            <center>@Html.ActionLink("Print PDF Copy", "Resultpdf", new { id = Model.UserName })</center>
        </div>
    
    
    }
catch
{
<p > You Didn't pay any Fees yet</p>
}




